<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Success</title>
    <script>
        alert('Todo Success');
        document.location.href('/index.ejs');
    </script>
</head>
<body>
</body>
</html>